# Python bytecode:
*.py[co]

# Packaging files:
*.egg*
.DS_Store

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

.idea
.htaccess

#coverage files
.coverage
htmlcov

#local settings file
office_basic/dev_local.py
office_basic/static
office_basic/media

#Log files
*.log
log/
